<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recordar contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h6 class="content-txt">Escriba su correo para recuperar su contraseña</h6>
  <ion-card class="card">
    <ion-card-content>
      <ion-item class="input">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input label="E-mail" labelPlacement="floating" placeholder="alguien@correo.com"></ion-input>
      </ion-item>
      <ion-button (click)="goBack()" style="margin-top:1rem;" class="btn">Recuperar Contraseña</ion-button>
    </ion-card-content>
    
  </ion-card>
</ion-content>
