<ion-header [translucent]="true">
  <!-- SOLO PARA DEBUGGING Y FRONT TESTING -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="card-title">Foto de perfil</ion-card-title>
      <ion-card-subtitle>Para cambiar la foto de perfil solo toque la imagen.</ion-card-subtitle>
      <div class="avatar-div">
        <div class="img-col">
          <img class="img-display" src="https://img.pokemondb.net/sprites/home/normal/2x/typhlosion.jpg" alt="">
          <ion-button class="btn img-btn"><ion-icon name="image-outline"></ion-icon></ion-button>
        </div>
        <div>
          <ion-button class="btn">Tomar foto
            <ion-icon slot="start" name="camera-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-input [(ngModel)]="rut" type="text" label="rut con guion"></ion-input>
      <ion-button (click)="verificar(rut)"></ion-button>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="scheduleNotification()">Notificacion de ejemplo</ion-button>
  
  
</ion-content>
