<ion-header [translucent]="true">
  <!-- SOLO PARA DEBUGGING Y FRONT TESTING -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <ion-card-content>
      <h4>Titulo</h4>
      <h6>Subtitulo</h6>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-input [(ngModel)]="rut" type="text" label="rut con guion"></ion-input>
      <ion-button (click)="verificar(rut)"></ion-button>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="scheduleNotification()">Notificacion de ejemplo</ion-button>
  
  
</ion-content>
